Post request containing % breaks Rack::Test

Here is a minimal example to reproduce bug. It doesnt matter if the % sign is part of a bigger payload or a single sign:

```ruby
require 'sinatra'

class MyApp < Sinatra::Base
  post '/foo/bar' do
  end
end

require 'rspec'
require 'rack/test'

RSpec.describe 'percent_bug' do
  include Rack::Test::Methods

  def app
    MyApp.new
  end

  shared_examples :returns_200 do
    it 'should return 200' do
      post '/foo/bar', payload
      expect(last_response.status).to eq(200)
    end
  end

  context 'non-problematic payload' do
    let(:payload) { 'foobar' }
    include_examples :returns_200
  end

  context 'problematic payload' do
    let(:payload) { '%' }
    include_examples :returns_200
  end
end
```

It's triggered by [URI.decode_www_form_component](https://github.com/ruby/ruby/blob/66c3355ab17dd99c2bd2b751db0c20fc1fda5eee/lib/uri/common.rb#L392:L395), through Rack::Utils.unescape, [Rack::QueryParser#parse_nested_query](https://github.com/rack/rack/blob/2e92a25342b5d51f4094366c3b8dd797cbd208a4/lib/rack/query_parser.rb#L60:L73):

if your payloads contains a %, the parser validates for a [valid percent encoded string](https://en.wikipedia.org/wiki/Percent-encoding).
So would you need a percent sign in the payload, you should encode it, as %25.

Can we close this issue?

I think the issue is rather, that there is an inconsistency between Rack::Test and normal execution. Running the example above one can curl the route with `--data-binary ''%'` and it processes without errors. Also I don't see the point in using the query parser at all with request bodies that aren't `application/www-form-urlencoded`.

@jreinert good point, I had not seen it that way.

If you specify the content type to skip this parser, it works:

```diff
     it 'should return 200' do
+      header 'Content-Type', 'application/octet-stream'
       post '/foo/bar', payload
```

But, from my tests, curl defaults to sending `application/x-www-form-urlencoded` (and so does Rack::Test):

```shell
$ curl -v -XPOST --data-binary '%' localhost:4567/
*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 4567 (#0)
> POST / HTTP/1.1
> Host: localhost:4567
> User-Agent: curl/7.47.0
> Accept: */*
> Content-Length: 1
> Content-Type: application/x-www-form-urlencoded
...
```
Removing the content type sent (`$ curl -v -XPOST -d '%' -H'Content-Type:' localhost:4567/foo/bar/`) produces the same result (error 400, and verifying, that means Rack defaults to parsing the request as a www-form-urlencoded).

So that would be 2 issues actually:
 * Rack sending `application/x-www-form-urlencoded` when no default type is provided (so above rspec test fails);
 * Rack assuming request content type to be `application/x-www-form-urlencoded` when not explicitly set (so Sinatra failing to parse above request, if there is no specified content type).

Or did I miss something?

Quoting https://tools.ietf.org/html/rfc7231#section-3.1.1.5:
> If a Content-Type header field is not present, the recipient
> MAY either assume a media type of "application/octet-stream"
> ([RFC2046], Section 4.5.1) or examine the data to determine its type.

So, that points back to Rack - not sure its helps much, but here's a sample of similar issues:
* https://github.com/sinatra/sinatra/issues/804
* https://github.com/rack/rack/pull/644
* https://github.com/rack/rack/issues/337
* https://github.com/freerange/webhooks/issues/21

And so far, it seems it's up to the app/tests to manage this:
 * server-side with a middleware (see https://github.com/sinatra/sinatra/issues/804#issuecomment-48103635 for instance)
 * client-side, by specifying the right content type header.

I'd close the issue, but maybe that could be a case for an addition to the README, in the Mime Types section? (not sure)