[patch] Location header must be set to an absolute URI

According to RFC 2616 section 14.30, for the “Location” header, “the field value consists of a single absolute URI”.

Patch is available at giga/redirect_absolute_URI
